@charset "utf-8";

/*
* *************************************************************************
* 全体設定
* *************************************************************************
*/
html {
  font-size: 62.5%;
}
body {
  color: #fff;
  font-family: sans-serif;
  background: #000;
}
img {
  max-width: 100%;
  height: auto;
}

/*
* *************************************************************************
* 個別設定
* *************************************************************************
*/
#container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px;
}
.main-ttl {
  margin-bottom: 20px;
  font-size: 4.2rem;
  font-weight: bold;
}
#btn-cont {
  margin-bottom: 28px;
  padding-bottom: 28px;
  border-bottom: 1px solid #fff;
}
.sub-ttl {
  font-size: 2.2rem;
  font-weight: bold;
  flex-basis: 90px;
}
.btn-cont-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.btn-cont-inner:not(:last-child) {
  margin-bottom: 12px;
}
button {
  padding: 5px 8px;
  font-size: 1.6rem;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: color .3s, background .3s;
  cursor: pointer;
}
button.red {
  color: #ff0000;
  border-color: #ff0000;
}
button.orange {
  color: #ff7f00;
  border-color: #ff7f00;
}
button.yellow {
  color: #ffff00;
  border-color: #ffff00;
}
button.green {
  color: #00ff00;
  border-color: #00ff00;
}
button.skyblue {
  color: #00ffff;
  border-color: #00ffff;
}
button.blue {
  color: #0000ff;
  border-color: #0000ff;
}
button.purple {
  color: #7f00ff;
  border-color: #7f00ff;
}
button:hover {
  color: #000;
  background: #fff;
}
button.red:hover {
  color: #000;
  background-color: #ff0000;
}
button.orange:hover {
  color: #000;
  background-color: #ff7f00;
}
button.yellow:hover {
  color: #000;
  background-color: #ffff00;
}
button.green:hover {
  color: #000;
  background-color: #00ff00;
}
button.skyblue:hover {
  color: #000;
  background-color: #00ffff;
}
button.blue:hover {
  color: #000;
  background-color: #0000ff;
}
button.purple:hover {
  color: #000;
  background-color: #7f00ff;
}
#ease-change {
  display: flex;
  gap: 8px;
}
#ease-change input[type="radio"] {
  display: none;
}
#ease-change label {
  padding: 5px 8px;
  font-size: 1.6rem;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: color .3s, background .3s;
  cursor: pointer;
}
#ease-change label:hover {
  color: #000;
  background: #fff;
}
#ease-change input[type="radio"]:checked + label {
  color: #000;
  background: #fff;
}
#box {
  width: 8vw;
  height: 8vw;
  min-width: 80px;
  min-height: 80px;
  background: #fff;
}