@charset "utf-8";

/*
* *************************************************************************
* 全体設定
* *************************************************************************
*/
html {
  font-size: 62.5%;
}
body {
  color: #fff;
  font-family: sans-serif;
  background: #000;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*
* *************************************************************************
* 個別設定
* *************************************************************************
*/
/* コンテナ、タイトル */
#container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px;
}
.main-ttl {
  margin-bottom: 20px;
  font-size: 4.2rem;
  font-weight: bold;
}
#btn-cont {
  margin-bottom: 28px;
  padding-bottom: 28px;
  border-bottom: 1px solid #fff;
}
.sub-ttl {
  font-size: 2.2rem;
  font-weight: bold;
  flex-basis: 115px;
}
.btn-cont-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.btn-cont-inner:not(:last-child) {
  margin-bottom: 14px;
}

/* Box */
#box {
  width: 6vw;
  height: 6vw;
  min-width: 75px;
  min-height: 75px;
  background: #fff;
}

/* Motion */
button,
#ease-change label,
#color-change label {
  padding: 5px 8px;
  font-size: 1.6rem;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: color .3s, background .3s;
  cursor: pointer;
}
button:hover {
  color: #000;
  background: #fff;
}

/* Ease */
#ease-change {
  display: flex;
  gap: 8px;
}
#ease-change input[type="radio"] {
  display: none;
}
#ease-change label:hover {
  color: #000;
  background: #fff;
}
#ease-change input[type="radio"]:checked + label {
  color: #000;
  background: #fff;
}

/* Color */
#color-change {
  display: flex;
  gap: 8px;
}
#color-change input[type="radio"] {
  display: none;
}
input[type="radio"]#red + label {
  color: #ff0000;
  border-color: #ff0000;
}
input[type="radio"]#orange + label {
  color: #ff7f00;
  border-color: #ff7f00;
}
input[type="radio"]#yellow + label {
  color: #ffff00;
  border-color: #ffff00;
}
input[type="radio"]#green + label {
  color: #00ff00;
  border-color: #00ff00;
}
input[type="radio"]#skyblue + label {
  color: #00ffff;
  border-color: #00ffff;
}
input[type="radio"]#blue + label {
  color: #0000ff;
  border-color: #0000ff;
}
input[type="radio"]#purple + label {
  color: #7f00ff;
  border-color: #7f00ff;
}
input[type="radio"]#white:hover + label,
input[type="radio"]#white:checked + label {
  color: #000;
  background-color: #ffffff;
}
input[type="radio"]#red:hover + label,
input[type="radio"]#red:checked + label {
  color: #000;
  background-color: #ff0000;
}
input[type="radio"]#orange:hover + label,
input[type="radio"]#orange:checked + label {
  color: #000;
  background-color: #ff7f00;
}
input[type="radio"]#yellow:hover + label,
input[type="radio"]#yellow:checked + label {
  color: #000;
  background-color: #ffff00;
}
input[type="radio"]#green:hover + label,
input[type="radio"]#green:checked + label {
  color: #000;
  background-color: #00ff00;
}
input[type="radio"]#skyblue:hover + label,
input[type="radio"]#skyblue:checked + label {
  color: #000;
  background-color: #00ffff;
}
input[type="radio"]#blue:hover + label,
input[type="radio"]#blue:checked + label {
  color: #000;
  background-color: #0000ff;
}
input[type="radio"]#purple:hover + label,
input[type="radio"]#purple:checked + label {
  color: #000;
  background-color: #7f00ff;
}

/* Duration */
#dur-change {
  display: flex;
  align-items: center;
  gap: 8px;
}
#dur-change input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  height: 3px;
  background: rgba(255,255,255,.85);
  cursor: pointer;
}
#dur-change input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 7px;
  height: 20px;
  background: #fff;
}
#dur-change input[type="range"]::-moz-range-thumb {
  width: 7px;
  height: 20px;
  background: #fff;
  border: none;
  border-radius: 0;
}
#dur-change input[type="range"]::-moz-focus-outer {
  border: 0;
}
.dur-speed {
  font-size: 2.2rem;
}