@charset "utf-8";

/*
* *************************************************************************
* 全体設定
* *************************************************************************
*/
html {
  font-size: 62.5%;
}
body {
  margin: 5%;
  color: #fff;
  background: #000;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*
* *************************************************************************
* 個別設定
* *************************************************************************
*/
/* コンテナ */
#container {
  height: 100vh;
  position: relative;
}

/* ローディング、タイトル */
#loading {
  background: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ttl {
  font-size: 8rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
}

/* Box */
#box {
  width: 100px;
  height: 100px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}