@charset "utf-8";

/*
* *************************************************************************
* 全体設定
* *************************************************************************
*/
html {
  font-size: 62.5%;
}
body {
  background: #000;
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*
* *************************************************************************
* 個別設定
* *************************************************************************
*/
/* コンテナ */
#container {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 6vw);
  justify-content: center;
  gap: 15px;
}

/* ローディング、タイトル */
#loading {
  background: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ttl {
  font-size: 8rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
}

/* Rect */
.rect {
  width: 6vw;
  height: 6vw;
  background: #fff;
}